:root {
    --grid-cols:1;
    --grid-rows:1;
}
#grid-container {
    display:grid;
    grid-template-columns: repeat(var(--grid-rows),1fr);
    grid-template-rows: repeat(var(--grid-rows),1fr);
    padding:0px;
    width:960px;
    height:960px;
    border:none;
}

.grid-item {
    border:1px solid black;
    padding:16px;
    border-radius: 2px;
    grid-auto-rows: minmax(1px,auto);
    grid-auto-columns: minmax(1px,auto);
   display:inline-block;
}